@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'IBM Plex Sans Arabic', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: white;
    
}
/* navbar */

header{
    background: #000;
    height: 700px;

}

nav{
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}

.contenedor h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: 'Lato', sans-serif;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.contenedor img{
    height: 500px;
    width: 100vw;

}

.logo{
    height: 50px;
    width: 200px;    
}
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

   
}
.top-menu i{
    color:#fff;
    font-size: 20px;
    padding: 0 20px;
}
.menu-ul{
    display: flex;
    justify-content: space-around;
}
.menu-ul li a{
    color:#fff;
    text-decoration: none;
    padding: 10px 20px;
}
.menu-ul li a:hover{
    background-color:teal;
    color: black;
    border-radius: 10px;
    transition-duration: 1s;
}
i{
    font-size: 20px;
    color: white;
    padding: 20px;
    
}

i:hover{
    color: teal;
}

/* cards en main */

main{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card{
    margin: 20px;
    padding: 5px 20px;
    width: 265px;
    height: 365px;
}

p{
    padding: 10px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img{
    width: 250px;
    height: 200px;
}

button {
    background-color: teal;
    font-size: 12px;
    padding: 10px 24px;
    border: none;
    transition-duration:0.4s;
}

button:hover {
    background-color: crimson; 
    color: black;
}

/* Cuidados */
#cuidados{
    height: 700px;
    background-color: teal;
    color: black;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.imgCuidados{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    align-self: center;
}

section h2{
    text-align: center;
    font-size: 50px;
    padding: 30px
    
}



/* Contacto */

#contacto{
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 20px;
    background-color: black;
    color: teal;
}

.btn {
    font-size: 15px;
    border-radius: 20px;
    align-items: center;
}

.col-auto{
    padding: 15px;
    display: inline-block;
    font-size: 16px;
}

.llamado{
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

.tituloFooter{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

/* footer */

footer{
    background-color: black;
    color: white;
    
}

footer p{
    font-size: 10px;
    text-align: center;
}

@media only screen and (min-width: 1024px){

    .menu-ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }

    #cuidados{
        height: 500px;
        background-color: teal;
        color: black;
        display: flex;
        padding: 20px;
        line-height: 35px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    
    .imgCuidados{
        height: 200px;
        width: 200px;
        border-radius: 100%;
        align-self: center;
    }
}